@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #121214;
    font-family: 'Roboto', sans-serif;
}

header {
    background: #202024;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    border-bottom: 1px solid #333;
    
}

.logo {
    width: 65px;
    height: 65px;
    cursor: pointer;
}

li, a, button {
    font-weight: 500;
    color: #d6d3d3;
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #fff
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 100, 139, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s
}

button:hover {
    background-color: rgba(0, 100, 139, 0.8);
}





